.container-titulo-resultado-pesquisa {
    margin-top: 10px;  
    display: flex;
    justify-content: space-between;
    padding-top: 20px; 
}

.container-titulo-resultado {
    margin-left: 10px;
    color: var(--color-primary);
}

.button-novo {
    margin-right: 20px;
    width: 110px;
}

.icone-title-result {
    color: var(--color-primary);
    font-size: 20px;
}

.container-title-bar-resultado-pesquisa {
    display: flex;
}

.label-resultado-pesqusia {
    font-size: 16px;
    color: var(--color-primary);
}