.container-title-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 110px;  
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.container-title-bar h1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em; 
    color: var(--color-primary);
}

.container-icone {
    padding: 5px;
}

.container-titulo {
    padding: 5px;
    text-align: left;
    width: 50%;
}

.container-usuario-logado {
    padding: 5px;
    text-align: right;
    width: 50%;
}

.icone-title-bar {
    color: var(--color-primary);
    font-size: 25px;
}

.label-usuario-logado {
    font-size: 12px;
    color: #999;
}