.container-title-bar {
    margin-top: 30px;  
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;   
}

.container-title-bar h1 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6em; 
}

.container-title-bar-esq {
    display: flex;
}

.icone-title-bar {
    color: var(--color-primary);
}

.container-titulo {
    margin-left: 10px;
    color: var(--color-primary);
}


.label-usuario-logado {
    font-size: 12px;
    color: #999;
}